body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}


ul li {
    list-style: none;
    display: inline;

}

ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: black;
    border-radius: 4px;
}

ul li a:hover {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: black;
}